$bgcolor: black;
$whcolor: white;
$lettercolor:#121312;
$f2color: #f2f2f2;
$viocolor: #9273df;
$bcncolor: #bbc0c083;
$lccolor: #203741;
$bgncolor: #203741;
$cimgcolor:#0e0e3a;
$cycolor: #19d3ba;
$textnosotros: #68c4a8;
$grdcolor: (#ffffff,#808080, #000000) ;
$itcecolor: #4d4343;
$bordcolor: #0000ff;
$gradicolor: ((violet) , rgb(145, 88, 185) , rgb(24, 160, 165) , rgb(134, 192, 134) , rgb(224, 224, 123) , rgb(231, 175, 71) , rgb(202, 83, 83)  );
$gradenvcolor: (rgb(228, 216, 228) , rgb(164, 154, 172) , rgb(114, 125, 126) , rgb(22, 31, 22) , rgb(49, 49, 22) , rgb(46, 40, 28) , rgb(24, 18, 18) ) ;
